[defaults]
ansible_managed     = [ANSIBLE-VOID] This file should be managed with ansible.
inventory           = inventories/home/hosts
retry_files_enabled = False
roles_path          = roles/
roles_file          = requirements.yml
# forks               = 40
# host_key_checking   = False
# callback_plugins    = callback_plugins
# ask_vault_pass      = True
# transport           = paramiko
# local_tmp           = /tmp/$USER/.a
# remote_tmp          = /tmp/$USER/.a
# remote_user         = root

# [ssh_connection]
# pipelining          = True
# scp_if_ssh          = True
# control_path        = /tmp/ansible-ssh-%%h-%%p-%%r
# ssh_args            = -o ControlMaster=auto -o ControlPersist=300s -o PreferredAuthentications=password -o PubkeyAuthentication=no -o GSSAPIAuthentication=no
